.example-card {
  margin: 5% auto;
  width: 400px;
}
.mat-card-title {
  font-size: 16px;
}
.avtar {
  margin: 10px;
  cursor: pointer;
}

img {
  margin-top: 10px;
  border-radius: 80%;
  height: 50px;
  width: 50px;
}
